<%= form_for @diagrama, :hmtl => {multipart: true} do |f| %>

  <% if @diagrama.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diagrama.errors.count, "error") %> prohibited this diagrama from being saved:</h2>

      <ul>
      <% @diagrama.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nomeDiagrama, "Nome do Diagrama" %><br>
    <%= f.text_field :nomeDiagrama %>
  </div>
  <div class="field">
    <%= f.label :tipoDiagrama, "Tipo do Diagrama" %><br>
    <%= f.text_field :tipoDiagrama %>
  </div>

  <div class="field">
    <%= f.label :file, "Arquivo" %><br>
    <%= f.file_field :file %>
  </div>

  <div class="actions">
    <%= f.submit "Criar Diagrama" %>
  </div>
<% end %>