<p id="notice"><%= notice %></p>

<h1>Lista de Diagramas</h1>

<table>
  <thead>
    <tr>
      <th>Nome do Diagrama</th>
      <th>Tipo do Diagrama</th>
      <th>Arquivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagramas.each do |diagrama| %>
      <tr>
        <td><%= diagrama.nomeDiagrama %></td>
        <td><%= diagrama.tipoDiagrama %></td>
        <td><%= diagrama.file_file_name %></td>
        <td><%= link_to 'Show', diagrama %></td>
        <td><%= link_to 'Edit', edit_diagrama_path(diagrama) %></td>
        <td><%= link_to 'Destroy', diagrama, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Diagrama', new_diagrama_path %>
