<p id="notice"><%= notice %></p>

<p>
  <strong>Nomediagrama:</strong>
  <%= @diagrama.nomeDiagrama %>
</p>

<p>
  <strong>Tipodiagrama:</strong>
  <%= @diagrama.tipoDiagrama %>
</p>

<p>
  <strong>Arquivo:</strong>
  <%= @diagrama.arquivo %>
</p>

<%= link_to 'Edit', edit_diagrama_path(@diagrama) %> |
<%= link_to 'Back', diagramas_path %>
