<p id="notice"><%= notice %></p>

<p>
  <strong>Nome do diagrama:</strong>
  <%= @diagrama.nomeDiagrama %>
</p>

<p>
  <strong>Tipo de diagrama:</strong>
  <%= @diagrama.tipoDiagrama %>
</p>

<p>
  <strong>File:</strong>
	<%= image_tag @diagrama.file.url(:thumb) %>
</p>



<%= link_to 'Edit', edit_diagrama_path(@diagrama) %> |
<%= link_to 'Back', diagramas_path %>
