<p id="notice"><%= notice %></p>

<p>
  <strong>Nome do diagrama:</strong>
  <%= @diagrama.nomeDiagrama %>
</p>

<p>
  <strong>Tipo de diagrama:</strong>
  <%= @diagrama.tipoDiagrama %>
</p>

<p>
  <strong>File:</strong>
	<%= image_tag @diagrama.file.url(:thumb) %>
</p>



<%= link_to 'Voltar para diagramas', diagramas_path %>
<%= link_to 'Ir para Requisitos', requisitos_path %>
