<p id="notice"><%= notice %></p>

<p>
  <strong>Sigla</strong>
  <%= @requisito.siglaRequisito %>
</p>

<p>
  <strong>Nome</strong>
  <%= @requisito.nomeRequisito %>
</p>

<p>
  <strong>Descricao</strong>
  <%= @requisito.descricaoRequisito %>
</p>

<p>
  <strong>Tipo</strong>
  <%= @requisito.tipoRequisito %>
</p>

<p>
  <strong>Prioridade</strong>
  <%= @requisito.prioridade %>
</p>

<%= link_to 'Ir para Requisitos', requisitos_path %>
<%= link_to 'Cadastrar Novo Requisto', new_requisito_path %>
<%= link_to 'Ir para Regras de Negocio', regra_negocios_path %>
