<%= form_for(@projeto) do |f| %>
  <% if @projeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projeto.errors.count, "error") %> prohibited this projeto from being saved:</h2>

      <ul>
      <% @projeto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nomeProjeto, "Nome do Projeto" %><br>
    <%= f.text_field :nomeProjeto %>
  </div>
  <div class="field">
    <%= f.label :resumo, "Mini Mundo" %><br>
    <%= f.text_field :resumo %>
  </div>
  <div class="actions">
    <%= f.submit "Criar Projeto" %>
  </div>
<% end %>
