<p id="notice"><%= notice %></p>

<p>
  <strong>Sigla:</strong>
  <%= @regra_negocio.siglaRegra %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @regra_negocio.nomeRegra %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @regra_negocio.descricaoRegra %>
</p>

<%= link_to 'Ir para Regras de Negocio', regra_negocios_path %>
<%= link_to 'Cadastrar Nova Regra', new_regra_negocio_path %>
<%= link_to 'Ir para Glossario', glossarios_path %>